
<h1>
  Help -- Navigation
</h1>
<ul>
  <img src="/images/contactus.png" class="rounded float-left" alt="contact" width="30%">
  <li>Super Straightforward: Just type in the keywords/subject/instructor you are interested in and start searching!</li>
  <li>Hope you can have lots of fun--Searching!</li>
  <li>Don't forget to sign up or log in!</li>
  
</ul>

